<div class="container">
  <div class="row justify-content-center">
    <div class="mx-auto coll-11 col-sm-10 col-lg8 col-xl-6">

      <div style="margin:10% auto; padding-bottom:20%;">
        <div class="btn-wrapper col-10 mx-auto">
        <div class="text-center" style="margin:10% 0;">
          <%= flash[:delete] =%>
          <%= flash[:notice] =%>
        </div>
          <div class="text-center" style="margin:10% 0;">
            <h2>スキが&ensp;見つかる、</h2>
            <h2>"わかる" で&ensp;つながる。</h2>
          </div>

          <br >
          <div class="row">
            <%= link_to "ログイン", new_user_session_path, class: "btn btn-outline-info btn-sm btn-block sign_in" %>
          </div>
          <br >
          <div class="row">
            <%= link_to "新規登録", new_user_registration_path, class: "btn btn-outline-warning btn-sm btn-block sign_up" %>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>