<!--検索結果表示画面へ-->
<% if @model == 'user' %>
  <h3>ユーザー検索結果 "<%= @content %>"</h3>
  <%= render 'users/search_user_index', users: @records %>
<% else @model == 'posts' %>
  <h3>投稿検索結果 for "<%= @content %>"</h3>
    <%= render 'posts/search_post_index', posts: @records %>
<% end %>