/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

a {
  color:#383c3c;
}

// エラー文
#error_explanation{
  color:#d7003a;
}

// トップページスキ文字色
.suki{
  color:#ec6d51;
}

// トップページつながる下線
.top_line{
  border-bottom:dotted;
  border-color:#83ccd2;
  border-width:3px;
}

// Homeボタン
.fa-home{
  color:#cd5e3c;
}

// Aboutボタン
.fa-heartbeat{
  color:#e597b2;
}

// サインアップボタン
.fa-sign-in-alt{
  color:#f39800;
}

// ログインボタン
.fa-door-closed{
  color:#00a381;
}


// 投稿一覧ボタン
.fa-icons{
  color:#83ccd2;
}

// マイページボタン
.fa-compact-disc{
  color:#0f2350;
}

// 新規投稿ボタン
.fa-sliders-h{
  color:#f39800;
}

// ログインへのリンク文字
.login_link{
  color:#008899;
}

// 新規登録へのリンク文字
.signup_link{
  color:#f39800;
}

.row{
    display: flex;
}

// // サイドバー固定
.side{
  position: -webkit-sticky;
  position: sticky;
  top: 5%;
  width: 40%;
  height: 400px;
  padding: 10px;
  margin: 0;
  line-height: 3;
}

// // 投稿一覧エリア
.main{
  width: 60%;
  margin: 0;
  padding: 10px;
  line-height: 3;
}

// post/show画面の投稿欄
.show_main{
  position: -webkit-sticky;
  position: sticky;
  top: 20%;
  width: 60%;
  margin: 0;
  padding: 10px;
  line-height: 3;
}

// テーブルヘッダー固定
.th-index {
	background: white;
	position: sticky;
	top: 11%;
}

// テーブルヘッダーもどる
.back-right{
	float: right;
}


