/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';

a {
 color:#383c3c;
}

// Homeボタン
.fa-home{
 color:#cd5e3c;
}

// Aboutボタン
.fa-heartbeat{
 color:#e597b2;
}

// 新規登録ボタン
.fa-sign-in-alt{
 color:#00a381;
}

// 投稿一覧ボタン
.fa-icons{
 color:#83ccd2;
}

// マイページボタン
.fa-compact-disc{
 color:#0f2350;
}

// 新規投稿ボタン
.fa-sliders-h{
 color:#f39800;
}

// ログインへのリンク文字
.login_link{
 color:#008899;
}

// 新規登録へのリンク文字
.signup_link{
 color:#f39800;
}