// Place all the styles related to the PostComments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*コメントボタン色*/
.comment_btn{
  color:#544a47;
}

/*コメントボタン色*/
.comment_index{
  color:#028760;
}

/*コメント下線*/
.comment_line{
  border-bottom:dotted;
  border-color:#028760;
  border-width:3px;
}

.inputComment {
	background: white;
	position: sticky;
	top: 14%;
}

.comment-head {
	background: white;
	position: sticky;
	top: 38%;
}

@media screen and (min-width: 768px) {
    .comment_form{
      width: 300px;
      height: 150px;
    }
}