// Place all the styles related to the Rlationships controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// お気に入り下線
.th-followings{
  border-bottom:dotted;
  border-color:#83ccd2;
  border-width:3px;
}